<!DOCTYPE HTML>
<html>
<head>
<title>AI Somm</title>
<meta charset="utf-8">
<meta name="viewport" content="width=1040">
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600|Arvo:700" rel="stylesheet" type="text/css">
<script src="{{ url_for('static', filename='js/jquery-1.9.1.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/jquery.dropotron-1.3.js')}}"></script>
<script src="{{ url_for('static', filename='js/config.js')}}"></script>
<script src="{{ url_for('static', filename='js/skel.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/skel-ui.min.js')}}"></script>
<noscript>
<link rel="stylesheet" href="{{ url_for('static', filename='css/skel-noscript.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style-desktop.css')}}">
</noscript>
<!--[if lte IE 8]>
<script src="js/html5shiv.js"></script>
<![endif]-->
</head>
<body class="homepage">
<div id="header-wrapper">
  <div id="header" class="container">
    <h1 id="logo"><a href="#">AI Somm</a></h1>
    <p>Describe the wine you're drinking, and I'll try to guess what it is</p>
  </div>
</div>
<div id="features-wrapper">
  <section id="features" class="container">
    <div class="row">
	 <form action="/taste" method=POST>
        <div class="12u">
		  <label id=body-value for="body">Body: 1</label>
		  <input type="range" id="body" name="body" min="1" max="5" value="1">
		  <br><br> 
		  <label id=alcohol-value for="alcohol">Alcohol Level: 1</label>
		  <input type="range" id="alcohol" name="alcohol" min="1" max="5" value="1">
		  <br><br> 
		  <label id=acidity-value for="acidity">Acidity: 1</label>
		  <input type="range" id="acidity" name="acidity" min="1" max="5" value="1">
		  <br><br> 
		  <label id=tannins-value for="tannins">Tannins: 0</label>
		  <input type="range" id="tannins" name="tannins" min="0" max="5" value="0">
		  <br><br> 
		 </div>
		 <div class="12u">
		  <label for="wine-type">Wine Type:</label>
		  <select id="wine-type" name="wine-type">
			<option value="red">Red</option>
			<option value="white">White</option>
			<option value="fortified">Fortified</option>
		  </select>

		  <label for="flavors">Fruits:</label>
		  <select id="flavors" height="100px" name="flavors" multiple>
			  <option value="raspberry">Raspberry</option>
			  <option value="red currant">Red Currant</option>
			  <option value="black currant">Black Currant</option>
			  <option value="strawberry">Strawberry</option>
			  <option value="blackberry">Blackberry</option>
			  <option value="cherry">Cherry</option>
			  <option value="plum">Plum</option>
			  <option value="lemon">Lemon</option>
			  <option value="lime">Lime</option>
			  <option value="grapefruit">Grapefruit</option>
			  <option value="pear">Pear</option>
			  <option value="apple">Apple</option>
			  <option value="green apple">Green Apple</option>
			  <option value="peach">Peach</option>
			  <option value="melon">Melon</option>
			  <option value="guava">Guava</option>
			  <option value="pineapple">Pineapple</option>
			  <option value="passion fruit">Passion Fruit</option>
			  <option value="lychee">Lychee</option>
			  <option value="apricot">Apricot</option>
			  <option value="orange peel">Orange Peel</option>
			  <option value="leather">Leather</option>
			  <option value="nuts">Nuts</option>
			  <option value="honey">Honey</option>
			  <option value="orange">Orange</option>
			  <option value="dried fruits">Dried Fruits</option>
			  <option value="oxidation">Oxidation</option>
			  <option value="white flowers">White flowers</option>
			  <option value="rose">Rose</option>
			  <option value="lavender">Lavender</option>
			  <option value="violet">Violet</option>
			  <option value="bell pepper">Bell Pepper</option>
			  <option value="fennel">Fennel</option>
			  <option value="tomato">Tomato</option>
			  <option value="freshly cut grass">Freshly Cut Grass</option>
			  <option value="dill">Dill</option>
			  <option value="thyme">Thyme</option>
			  <option value="mint">Mint</option>
			  <option value="coffee">Coffee</option>
			  <option value="smoke">Smoke</option>
			  <option value="tobacco">Tobacco</option>
			  <option value="caramel">Caramel</option>
			  <option value="chocolate">Chocolate</option>
			  <option value="buttered toast">Buttered Toast</option>
			  <option value="vanilla">Vanilla</option>
			  <option value="black pepper">Black Pepper</option>
			  <option value="cinnamon">Cinnamon</option>
			  <option value="licorice">Licorice</option>
			  <option value="nutmeg">Nutmeg</option>
			  <option value="cloves">Cloves</option>
			  <option value="almonds">Almonds</option>
			  <option value="hazelnut">Hazelnut</option>
			  <option value="coconut">Coconut</option>
			  <option value="pine">Pine</option>
			  <option value="cedar">Cedar</option>
			  <option value="sandalwood">Sandalwood</option>
			  <option value="oak">Oak</option>
			  <option value="butter">Butter</option>
		  </select><br>
		  </div>
			<ul class="actions">
				<button class="button button-icon icon icon-file" type="submit" name="submit">Taste</button>
			</ul>
		</form>
	</section>
	</div>
</div>
</div>
<script>
		$(document).ready(function() {
		  $('#body').on('input', function() {
			$('#body-value').html('Body: ' + $(this).val());
		  });
		});
	</script>
	<script>
		$(document).ready(function() {
		  $('#alcohol').on('input', function() {
			$('#alcohol-value').html('Alcohol Level: ' + $(this).val());
		  });
		});
	</script>
	<script>
		$(document).ready(function() {
		  $('#acidity').on('input', function() {
			$('#acidity-value').html('Acidity: ' + $(this).val());
		  });
		});
	</script>
	<script>
		$(document).ready(function() {
		  $('#tannins').on('input', function() {
			$('#tannins-value').html('Tannins: ' + $(this).val());
		  });
		});
	</script>
	<script>
		window.onload = function() {
			document.getElementById('body').value = 1;
			document.getElementById('acidity').value = 1;
			document.getElementById('tannins').value = 0;
			document.getElementById('alcohol').value = 1;
			document.getElementById("wine-type").selectedIndex = 0
			document.getElementById("flavors").selectedIndex = -1
	}
	</script>
</body>
</html>
